<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item_desc</key>
    <string>&lt;table border="0" cellpadding="0" cellspacing="0"&gt;
        
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;项目名称:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;红云日息宝1号&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;收益方式:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;每天返息&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;年化收益率:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;9.00%&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;募集期:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;2015-03-22 23:59:59至2016-03-22 23:59:59&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;每天投资上限:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;50000元&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;最低持有时间:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;2天&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;投资完成日期:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;2017-03-22 23:59:59&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;还款方式:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;每天还息，到期还本&lt;/td&gt;
        
        &lt;/tr&gt;
        
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;到期赎回方式:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;平台自动赎回&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;提前赎回方式:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;持有时间超过"最低持有时间"后支持提前赎回&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;加入费用:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;无服务费&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
        
        &lt;td align="right"&gt;赎回费用:&lt;/td&gt;
        
        &lt;td align="left"&gt;&amp;nbsp;无服务费。&lt;/td&gt;
        
        &lt;/tr&gt;
        &lt;tr valign="top"&gt;
        
        &lt;td align="right" valign="top"&gt;介绍:&lt;/td&gt;
        
        &lt;td align="left" valign="top"&gt;&amp;nbsp;借款人杨某，在昆明市西山区自主经营珠宝店，已连续经营近&lt;br&gt;8年，借款人用其名下住房一套，作为抵押物向平台申请&lt;br&gt;融资60万元，资金用于珠宝店的进货垫款。&lt;br&gt;
        经尽职调查得知，借款人所提供的抵押物现价值约110万元&lt;br&gt;，借款60万元，抵押率54.54%，抵押率适中。借款人所经&lt;br&gt;&lt;/td&gt;
        &lt;/tr&gt;
        
        &lt;/table&gt;
    </string>
</dict>
</plist>
